<div class="container">
  <!-- We iterate through the quizzes & we display the score of the last attemp -->
  <div class="title-difficulty-container">
    <h1><%= @quiz.title.html_safe %></h1>
    <p>Difficulty: <%= @quiz.difficulty %></p>
  </div>

  <div class="score-box">
    <% if @attemps.last.nil? %>
        <h4 class="quiz-welcome-msg">Welcome to this new WeQuiz test, good luck!</h4>
      <!-- [X] A quizz is considered passed if +60% of questions are answered correctly -->
      <!-- [X] A user can see the scores of his quizzes -->
      <% elsif @attemps.last.score >= 0.6 %>
        <h4 class="score">Score: <%= (@attemps.last.score * 100).to_i %>%</h4>
        <h4>Well done! You have passed this test!</h4>
      <% else %>
        <h4 class="score">Score: <%= (@attemps.last.score * 100).to_i %>%</h4>
        <h4>Ouch, you have not passed this test! You need some training...</h4>
        <h4>Try again!</h4>
      <% end %>
    <!-- [X] A user can start a quizz -->
    <%= simple_form_for [@quiz, @attemp] do |f| %>
      <%= f.button :submit, "Start!", class: "btn btn-primary", id: "start-btn" %>
    <% end %>
  </div>
</div>

<!-- Note: We recover encoded strings from the API. We use html_safe to display the string correctly - Example: @quiz.title.html_safe -->
