<h1><%= @quiz.title %></h1>
<div class="results">
  <% unless @attemps.last.nil? %>
    <% if @attemps.last.score >= 0.6 %>
      <h4>Well done! You have passed this test!</h4>
      <h4>Score: <%= (@attemps.last.score * 100).to_i %>%</h4>
    <% else %>
      <h4>Ouch, you have not passed this test! You need some train!</h4>
      <h4>Score: <%= (@attemps.last.score * 100).to_i %>%</h4>
    <% end %>
  <% end %>
</div>

<p>Difficulty: <%= @quiz.difficulty %></p>
<p>Number of attemps: <%= @attemps.size %></p>

<%= simple_form_for [@quiz, @attemp] do |f| %>
  <%= f.button :submit, "Start !", class: "btn btn-primary" %>
<% end %>