<h1><%= @quiz.title %></h1>
<p>Difficulty: <%= @quiz.difficulty %></p>
<p>Number of attemps: <%= @attemps.size %></p>
<p>Last score: 
  <% unless @attemps.last.nil? %>
    <%= (@attemps.last.score * 100).to_i %>%
  <% else %>
    0
  <% end %>
</p>

<%= simple_form_for [@quiz, @attemp] do |f| %>
  <%= f.button :submit, "Start !", class: "btn btn-primary" %>
<% end %>