<!-- We iterate through the quizzes & we display them + difficulty -->
<div class="home-container">
  <div class="cards">
    <!-- [X] A user can see a collection of quizzes -->
    <% @quizzes.each do |quiz| %>
      <%= link_to quiz_path(quiz) do %>
        <div class="quiz-card" data-quiz-id="<%= quiz.id %>">
          <h4><%= quiz.title.html_safe %></h4>
          <% unless quiz.attemps.last.nil? %>
            <div class="home-quiz-score"><%= (quiz.attemps.last.score * 100).to_i %>%</div>
          <% end %>
          <p><%= quiz.difficulty.html_safe %></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
